<h1 class="text-center">Liste des Talks</h1>


      <!-- Grid of activities  -->
    <div>
      <% @talks.each do |talk| %>
        <%= link_to talk_path(talk) do %>
              <h1> <%= talk.user_id %> </h1>
                <h5><%= talk.film.upcase %></h5>
                <span><%= talk.theme %></span>
              </div>
            <div >
              <p><%= talk.date %></p>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
