<div class="container-new-activity">
    <h1  class="d-flex justify-content-center mt-4 mb-4">Proposer un Talk</h1>
    <div class="d-flex justify-content-center mb-4 mt-4">
      <div class="col-md-6 mb-4 mt-4">
        <%= simple_form_for @talk do |f| %>
        <%= f.input :film %>
        <%= f.input :theme, collection: ["Futur", "Jeune public", "Environnement", "Identité", "Histoire", "Territoire", "Psychologie", "Politique & Société", "Underground"] %>
        <%= f.input :date,
        input_html: { placeholder: "10/05/2019" }%>
        <%= f.button :submit, "valider", class: "black-btn mt-4em" %>
      </div>
      <% end %>
    </div>
  </div>
